<a href="/">
    <button class="back">➤</button>
</a>

<style>
    .back{
        position: absolute;
        right: 50px;
        top: 50px;
        font-size: larger;
        padding: 10px;
        border-radius:100px;
        border-color: white;
        background-color: white;
        opacity: 50%;
    }
</style>