<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />

        <meta name="generator" content={Astro.generator} />
        <link href="https://fonts.cdnfonts.com/css/elnath" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/cydonia-century" rel="stylesheet">
        <title>Arlim Méndez</title>
    </head>
    <body>
        <slot />
    </body>
</html>
 
<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>